*{box-sizing: border-box;
margin: 0;
border: 0;}

body{
    font-family: 'Fredoka', sans-serif;
}

#container{width: 900px;
margin:0 auto;}

header{
    text-align: center;
    padding: 30px 0;
    color: #DF4787;
}

section:first-of-type{
    height: 80px;
    text-align: center;
    padding-bottom: 90px;
}

.card{
    background-color:#0F0E17;
    height: 75px;
    width: 31%;
    border: 1px solid black;
}

.left{float: left;}

.right{float: right;}

.center{float: center;}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

img{height: 75px;
float: left;}

h3, .card div{color: white;}

a{color: #2B98DF;
text-decoration: none;}

#card4, #card5, #card6{margin-top: 30px;}

#card1, #card2, #card4, #card5{
    margin-right: 3.5%;
}
