*{box-sizing: border-box;
margin: 0;
border: 0;}

body{
    font-family: 'Fredoka', sans-serif;
}

#container{width: 900px;
margin:0 auto;
background-color: blue;}

header{
    text-align: center;
    background-color: aqua;
    padding: 30px 0;
    color: #DF4787;
}

section:first-of-type{
    height: 80px;
    background-color: orange;
}

.card{
    background-color: rgba(red, green, blue, 0.5);
    height: 75px;
    width: 33%;
    border: 1px solid black;
}

.left{float: left;}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

img{height: 75px;
float: left;}

h3, .card div{color: white;}

a{color: #2B98DF;
text-decoration: none;}
